

#page-auth{
    display: flex;
    align-items: stretch;
    height: 100vh;

    aside{
        flex: 7;

        background: #003cff;
        background-image: url("../assets/images/grafico.svg"), linear-gradient(120deg, rgba(0,61,255,1) 0%, rgba(0,237,255,1) 100%);
        background-size: 720px;
        background-repeat: no-repeat;
        color: #fff;

        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 120px 80px;

        strong{
            font: 700 30px 'Poppins', sans-serif;
            line-height: 42px;
            margin-top: 350px;
        }

        p{
            font-size: 20px;
            line-height: 32px;
            margin-top: 16px;
            color: #f8f8f8;
        }

    }

    main{
        flex: 8;

        padding: 0 32px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 320px;
        align-items: stretch;
        text-align: center;

        > img{
            height: 70px;
            align-self: center;
        }

        form{
            input{
                margin-top: 16px;
                height: 50px;
                border-radius: 50px;
                padding: 0 16px;
                background: #fff;
                border: 1px solid #a8a8b3;
            }

            button{
                margin-top: 16px;
                margin-bottom: 16px;
            }

            button, input{
                width: 100%;
            }

            a{
                text-decoration: none;
                color: #058CE6;
                cursor: pointer;
            }

            a:hover{
                opacity: 0.7;
            }

            p{
                color: #808080;
                margin-top: 70px;

                a{
                    font-size: 22px;
                }
                a:hover{
                    opacity: 0.7;
                }
            }
        }
    }

    .create-login{
        margin-top: 64px;
        height: 50px;
        border-radius: 50px;
        font-weight: 500;
        background: #FFF;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
        border: 1px solid #a8a8b3;

        transition: filter 0.2s;

        img {
            margin-right: 8px;
            height: 30px;
            
        }

        &:hover{
            filter: brightness(0.9);
        }
    }

    .separator{
        font-size: 14px;
        color: #a8a8b3;
        display: flex;
        align-items: center;
        margin-top: 16px;

        &::before{
            content: '';
            flex: 1;
            height: 1px;
            background: #a8a8b3;
            margin-right: 16px;
        }
        &::after{
            content: '';
            flex: 1;
            height: 1px;
            background: #a8a8b3;
            margin-left: 16px;
        }
    }
}